@import "bootstrap/dist/css/bootstrap.min.css";

body{
    background: green;
}
.container-fluid{
width: 350px;
height: 500px;
background-color:white;
margin-top: 150px;
border-radius: 15px;
}

#top{
    font-size: 100px;
}

#center{
    font-size: 140px;
}

#end{
    font-size: 100px;
    transform: rotate(180deg)
}

.button{
    border-radius: 10px;
}  
